.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container li {
	list-style: none;
}

.container li svg {
	font-size: 1.4rem;
}
